<% title ||= 'TFPB Web App' %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Meta SEO -->
  <meta name="title" content="TFPB Web App">
  <meta name="description" content="TFPB Web App">
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="author" content="metapsj">

  <!-- Social media share -->
  <!-- Favicon -->
  <link rel="stylesheet" href="/css/app.css">

  <title><%= title %></title>
</head>
<body>

  <!-- header -->

  <!-- main -->
  <%= content %>
  <!-- ./main -->

  <!-- footer -->

</body>
</html>
